@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
body {
  margin: 0;
  font-family: "Mouse Memoirs", sans-serif;
  color: #fffaf2;
}
.header {
  background-color: #6f5f5e;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  color: #fffaf2;
}
h1 {
  margin: 0;
  padding-left: 30px;
  font-size: 4rem;
}
h3 {
  font-size: 2rem;
  margin: 0;
  border-bottom: 3px double #fffaf2;
  padding: 10px;
}
.container {
  display: flex;
}
.sidebar {
  padding: 30px;
  width: 15%;
  background-color: #6f5f5e;
  height: 100vh;
  color: #fffaf2;
  min-width: 120px;
}
.tasks-filter p {
  margin: 20px;
  font-size: 1.5rem;
  width: fit-content;
  cursor: pointer;
}
.tasks-filter p:hover {
  color: #e6d5d5;
}

.projects-container p {
  margin: 20px;
  font-size: 1.5rem;
  width: fit-content;
  cursor: pointer;
}
.add-project-title {
  margin: 20px;
  font-size: 1.5rem;
  width: fit-content;
  cursor: pointer;
}
.add-project-title:hover {
  color: #e6d5d5;
}
.project-form {
  text-align: center;
  display: none;
  margin: 20px 0;
}
.project-form input {
  width: 100%;
  height: 25px;
  border-radius: 5px;
  background-color: #fffaf2;
}
.project-form button {
  width: 80px;
  height: 30px;
  font-size: 1rem;
  margin: 5px;
  background-color: #fffaf2;
  border: 0px;
  border-radius: 5px;
  color: #6f5f5e;
}
.project-form button:hover {
  background-color: #e6d5d5;
}
.project-container {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.project-container p {
  margin: 0;
  flex: 1;
}
.project-container p:hover {
  color: #e6d5d5;
}
.delete-project-button {
  font-size: 1.2rem;
  font-family: "Mouse Memoirs", sans-serif;
  background-color: transparent;
  border: 0;
  border-radius: 20px;
  background-color: #fffaf2;
  color: #6f5f5e;
}
.delete-project-button:hover {
  background-color: #e6d5d5;
}
.tasks-container {
  flex-grow: 1;
  background-color: #fffaf2;
  min-width: 350px;
}
.inputField {
  display: none;
  flex-direction: column;
  box-sizing: content-box;
  color: #6f5f5e;
  margin: 0 20px;
}
.formButtons input {
  width: 80px;
  height: 30px;
  font-size: 1rem;
  margin: 5px;
  background-color: #6f5f5e;
  border: 0px;
  border-radius: 5px;
  color: #fffaf2;
}
.formButtons input:hover {
  color: #e6d5d5;
}

.add-task-container {
  text-align: center;
}
.new-task {
  display: flex;
  margin-left: 10px;
  min-width: 350px;

  align-items: center;
  justify-content: center;
  color: #6f5f5e;
}
.new-task-info {
  flex: 1;
}
.new-task-date {
  margin: 0 40px;
}

.delete-task-button {
  width: 40px;
  height: 40px;
  margin: 0 20px;
  cursor: pointer;
}
.not-important,
.important {
  width: 40px;
  height: 40px;
  margin: 0 20px;
  cursor: pointer;
}

.new-task-details {
  font-size: 0.875rem;
  white-space: pre-wrap;
  overflow-wrap: normal;
}
.new-task-title {
  font-size: 1.2rem;
  flex-wrap: wrap;
  word-break: break-all;
}
.checkbox {
  width: 13px;
  height: 13px;
  border: solid 2px #6f5f5e;
  border-radius: 50%;
  margin: 10px 8px 0 10px;
  flex-shrink: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-origin: border-box;
}
#add-new-task {
  font-size: 1.5rem;
  height: 40px;
  width: 120px;
  background-color: #6f5f5e;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  color: #fffaf2;
}
#add-new-task:hover {
  background-color: #a39090;
}
.title {
  font-size: 2rem;
  background-color: #6f5f5e;
  text-align: center;
  padding: 20px;
  margin: 15px;
  border-radius: 5px;
}
#task-validation-message {
  display: none;
  color: red;
  margin: 0;
}
#project-validation-message {
  display: none;
  color: red;
  margin: 0;
}

@media (max-width: 430px) {
  .container {
    flex-direction: column;
  }
  .sidebar {
    flex: 1;
    width: auto;
    padding: 0;
    text-align: center;
  }
  .tasks-filter {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    justify-items: center;
    align-items: center;
  }
  /* .tasks-filter p {
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .add-project-title {
    text-align: center;
    margin: auto;
    padding: 20px;
  }
  h3 {
    text-align: center;
  }

  .header {
    background-color: #fffaf2;
    color: #6f5f5e;
  }
  .new-task {
    max-width: 400px;
    margin-top: 10px;
  }
  .new-task-title {
    width: 120px;
    flex-wrap: wrap;
  }
  .title {
    padding: 0;
    font-size: 1.7rem;
  }
  #add-new-task {
    height: 20px;
    width: 60px;
    font-size: 1rem;
  }
}
