@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
body {
  margin: 0;
  font-family: "Mouse Memoirs", sans-serif;
}
* {
  outline: 1px solid red;
}
.header {
  background-color: antiquewhite;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  margin: 0;
}
h3 {
  font-size: 2rem;
  margin: 0;
  border-bottom: 3px double black;
}
.container {
  display: flex;
}
.sidebar {
  padding: 30px;
  width: 15%;
}
.tasks-filter p {
  margin: 20px;
  font-size: 1.5rem;
  width: fit-content;
  cursor: pointer;
}
.projects-container p {
  margin: 20px;
  font-size: 1.5rem;
  width: fit-content;
  cursor: pointer;
}
.add-project-title {
  margin: 20px;
  font-size: 1.5rem;
  width: fit-content;
  cursor: pointer;
}
.project-form {
  text-align: center;
  display: none;
  margin: 20px 0;
}
.project-form input {
  width: 100%;
}
.project-form button {
  width: 80px;
  height: 30px;
  font-size: 1rem;
}
.project-container {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.project-container p {
  margin: 0;
  flex: 1;
}
.delete-project-button {
  font-size: 1.2rem;
  font-family: "Mouse Memoirs", sans-serif;
  background-color: transparent;
  border: 0;
  border-radius: 20px;
}
.delete-project-button:hover {
  background-color: beige;
}
.tasks-container {
  flex-grow: 1;
}
.inputField {
  display: none;
  flex-direction: column;
  box-sizing: content-box;
}
.add-task-container {
  text-align: center;
}
.new-task {
  display: flex;
  align-items: flex-start;
  height: auto;
  padding: 0;
  padding-left: 5px;
  margin-bottom: 5px;
  border: solid 1.5px var(--textColor);
  transition: transform 100ms ease-in-out;
  align-items: center;
  justify-content: center;
}
.new-task-info {
  flex: 1;
}
.new-task-date {
  margin: 0 40px;
}

.delete-task-button {
  width: 40px;
  height: 40px;
  margin: 0 20px;
}
.not-important,
.important {
  width: 40px;
  height: 40px;
  margin: 0 20px;
}

.new-task-details {
  font-size: 0.875rem;
  white-space: pre-wrap;
  overflow-wrap: normal;
}
.new-task-title {
  font-size: 1.2rem;
}
.checkbox {
  width: 13px;
  height: 13px;
  border: solid 2px var(--textColor);
  border-radius: 50%;
  margin-right: 8px;
  margin-top: 10px;
  flex-shrink: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-origin: border-box;
}
#add-new-task {
  font-size: 1.5rem;
  height: 40px;
  width: 120px;
  background-color: aquamarine;
  border: 0;
  cursor: pointer;
}
#add-new-task:hover {
  background-color: rgba(127, 255, 212, 0.6);
}
.title {
  font-size: 2rem;
  background-color: aquamarine;
  text-align: center;
  padding: 20px;
  margin: 15px;
  border-radius: 5px;
}
#task-validation-message {
  display: none;
  background-color: aqua;
  margin: 0;
}
#project-validation-message {
  display: none;
  background-color: aqua;
  margin: 0;
}
